@{
    ViewBag.Title = "Agenda de contatos";
}

<div class="jumbotron">
    <h1>Agenda de contatos - Tutorial</h1>
    <p class="lead">Este é um tutorial de uma agenda de contatos baseada nos conceitos de arquitetura de software multicamadas.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Inicio</h2>
        <p>
            Essa é a pagina de entrada da sua aplicação
        </p>        
    </div>
</div>